<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ActionTimeoutInSecond" value="3"/>
    <add key="KolektoIntegration" value="https://kolekto-huur-integration.azurewebsites.net/"/>
    <add key="KolektoStaging" value="https://kolekto-huur-staging.azurewebsites.net/"/>
    <add key="RunOnBrowser" value="Chrome"/>
  </appSettings>
</configuration>